body {
  text-align: left;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto';
  padding-left: 5%;
  padding-right: 5%;
}
/* sticky navbar */
.topnav {
    background-color: black;
    overflow: hidden;
  }
  .container{
    color: black;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .click a{
    text-decoration: none;
    color: black;
  }
  
  .click{
    background-color: lightblue; /* Green */
    border: none;
    padding: 1% 2%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5vw;
  }
  
  .active{
    background-color: rgb(65, 65, 65);
  }

  button{
    border-radius: 2vw;
    background-color: black;
    font-size: 1.5vw;
    width: 20vw;
    margin-left: 40%;
}

button:hover{
  background-color: #ddd;
  color: black;
}

button:active{
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
/* smaller photo */
.image{
    content: center;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}
.port {
    float: left
}