body {
  text-align: left;
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans';
  padding-left: 5%;
  padding-right: 5%;
}
  body h1{
    text-align: center !important;
  }
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  .container{
    color: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .click a{
    text-decoration: none;
    color: black;
  }
  
  .click{
    background-color: lightblue; /* Green */
    border: none;
    padding: 1% 2%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 2vw;
  }
  
  .active{
    background-color: rgb(65, 65, 65);
  }
  
    button{
      border-radius: 2vw;
      background-color: lightblue;
      font-size: 1.5vw;
      width: 25vw;
  }
  
  button:hover{
      background-color: rgb(88, 170, 197);
  }
  
  button:active{
      
      box-shadow: 0 5px #666;
      transform: translateY(2px);
  }


  .clickb{
    float:right !important;
    background-color: lightblue; /* Green */
    border: none;
    padding: 1% 2%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 2vw;
  }

  .clickb a{
    text-decoration: none;
    color: black;
  }
  
  button:hover{
      background-color: rgb(88, 170, 197);
  }
  
  button:active{
      
      box-shadow: 0 5px #666;
      transform: translateY(2px);
  }
    .active{
      background-color: gray;
    }
  
    .home {
      padding-top: 30%;
      padding-bottom: 30%;
    }

